%button-base {
  font-family: Arimo, sans-serif;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  border: none;
  transition: all 200ms;
  line-height: 1;
  border-radius: 1px;
  text-decoration: none;
}

button,
.button {

  @extend %button-base;
}

.button--primary {
  color: #fff;
  font-size: 20px;
  padding: 15px 70px;
  background: mix(#000, $color0, 80%);

  &:hover {
    background: mix(#000, $color0, 70%);
  }
}
