%button-base {
  font-family: Lato, sans-serif;
  display: inline-block;
  white-space: nowrap;
  outline: none;
  background-color: blue;
  border: none;
  transition: all 200ms;
  border-radius: 1px;
  text-decoration: none;
}

button,
.button {

  @extend %button-base;
}

.button--primary {
  color: #fff;
  font-size: 20px;
  padding: 15px 70px;
  background: $color1;

  &:hover {
    background: $color3;
  }
}
