.nav-desktop {
  @include show-for(medium);
  display: none;
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 99;
  text-align: center;

  @include breakpoint(large up) {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    // clear: both;
  }

  a {
    float: left;
    clear: both;
    padding: 9px 15px;
    font-size: 19px;
    text-decoration: none;
    font-family: Arimo;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    background-color: #161616;
    margin-bottom: 1px;
    transition: background 200ms;

    &:hover {
      background-color: #262626;
    }

    &#tickets {
      background-color: $color1;
    }

    &.active {
      @include pseudo-element('after') {
        border-left: 6px solid #22c16d;
        left: -8px;
      }

    }
  }
}

.nav-mobile {
  display: none; // disabled for now
  background: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 15px 17px 17px 15px;

  span {
    display: block;
    @include hamburger(#fff, $color4, 30px, 23px, 2px);
  }
}
