.nav-desktop {
  @include show-for(medium);
  display: none;
  position: fixed;
  background-color: #161616;
  top: 40px;
  left: 40px;
  z-index: 99;
  text-align: center;

  @include breakpoint(large up) {
    display: block;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    // clear: both;
  }

  a {
    padding: 9px 10px;
    font-size: 19px;
    text-decoration: none;
    font-family: Arimo;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;

    &.active {
      @include pseudo-element('after') {
        border-bottom: 3px solid #22c16d;
        bottom: -3px;
      }

    }
  }
}

.nav-mobile {
  display: none; // disabled for now
  background: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 15px 17px 17px 15px;

  span {
    display: block;
    @include hamburger(#fff, $color4, 30px, 23px, 2px);
  }
}
