h1 {
  font-family: Lato;
  margin: 0 0 $rhythm-unit*3+px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 70px;
}

h2 {
  font-family: Lato;
  margin: $rhythm-unit*3+px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 70px;
}

h3 {
  font-family: Lato;
  margin: $rhythm-unit*3+px 0 0 0;
  padding: 0;
  font-size: 30px;
}

h4 {
  font-size: 18px;
  margin: $rhythm-unit*2+px 0 0 0;

}

p {
  font-family: Arimo;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: $base-line-height+px;
}
