@mixin baseline-guide {
  position: relative;

  &:after {
    background-image: linear-gradient($guide-color-1 1px, transparent 1px, transparent $rhythm-unit*1px, $guide-color-2 $rhythm-unit*1px, transparent $rhythm-unit*1px+1px);
    background-size: 100% rem-calc($base-line-height);
    width: 100%;
    height: auto;
    content: '';
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
  }
}

@mixin gray-filter {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
  filter: gray;
  filter: grayscale(100%);
}

@mixin pseudo-element($direction:'before') {
  position: relative;

  &:#{$direction} {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    @content;
  }
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
