/*
Color pallette */
$color0: #ff464e;
$color1: #540d6e;
$color2: #eee82c;
$color3: #ee4266;
$color4: #f3fcf0;
$color5: #1f271b;

/*
Settings */
$borderWidth: (
  small: 10px,
  medium: 15px,
  large: 20px
);
$panelSpacing: 100px;

/*
Foundation */
@import
"settings",
"foundation",
"states";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-video;

/*
Vendors */
@import
"vendor/fancybox";

/*
Custom */
@import
"mixins",
"modules/aftermovie",
"modules/buttons",
"modules/navigation",
"modules/panels",
"modules/typography";


html {
  font-size: 12px;
  touch-action: manipulation;

  @include breakpoint(medium up) {
    font-size: 16px;
  }

  @include breakpoint(large up) {
    font-size: 16px;
  }
}

body {
  overflow: scroll;
  background: $color5;

  .wrapper {
      margin-top: 100px;
  }

  &:before {
    display: none;
    content: '';
    position: fixed;
    color: red;
    z-index: 99999999;

    @include breakpoint(small only) {
      content: 'small only'
    }

    @include breakpoint(small up) {
      content: 'small up'
    }

    @include breakpoint(medium up) {
      content: 'medium up'
    }

    @include breakpoint(large up) {
      content: 'large up'
    }
  }

}
