
@import "settings";

$base-font-size: 16;
$base-line-height: 24;
$rhythm-unit: $base-line-height/2;

$guide-color-1: #FFCADF;
$guide-color-2: #E2D1FB;



@import "foundation";
@import "normalize-css/normalize";
@import "vendor/fancybox";
@import "modules/buttons";
@import "mixins";
@import 'util/mixins';

@include foundation-grid;
@include foundation-flex-video;



html {
  // @include baseline-guide;
}

body {
  font-family: 'Hind', sans-serif;
  position: relative;
  font-size: rem-calc($base-font-size);
  line-height: $base-line-height/$base-font-size;
}

.panel {
  min-height: 100vh;
  position: relative;

}

.panel-tout {
  position: relative;
  border: 10px solid #ffb297;
  border-bottom: none;
  background: #ff464e;
  // margin-bottom: 100vh;

  &:before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #ff464e url(../img/fishy.jpg) center center no-repeat;
    z-index: 0;
  }

  .wrap {
    color: #fff;
    font-family: 'Vollkorn', serif;
    text-align: center;
    @include absolute-center;

    .button {
      margin-top: rem-calc(70);
    }
  }

  .date {
    display: block;
    font-size: rem-calc(45);
  }

  .location {
    border-bottom: 1px solid #fff;
    font-size: rem-calc(32);
    font-style: italic;
  }

  &:after {
    display: block;
    content: '';
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    bottom: rem-calc(-15);
    height: rem-calc(60);
    background: url(../img/scallop.svg);
    background-repeat: repeat-x;
    background-position: 50% 0;
    transform: rotate(180deg);
  }

  img {
    display: block;
    clear: both;
    max-width: rem-calc(500);
    margin: rem-calc(40 0);
  }
}

.panel-movie {
  position: relative;
  min-height: 100vh;
  border-left: 10px solid #eba948;
  border-right: 10px solid #eba948;

  .bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/horsy-haha.gif);
    background-size: cover;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray;
    filter: grayscale(100%);
    opacity: 1;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #f857a6;
    background: linear-gradient(to left, #f857a6 , #ff5858);
    opacity: .95;
  }

  .payoff {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, calc(-50% - #{rem-calc(60)}));
    color: #fff;
    font-size: rem-calc(70);
  }

  .payoff__line {
    white-space: nowrap;
    text-transform: capitalize;
    display: inline-block;
    border-bottom: 8px solid #18bba8;
  }

}

.panel-intro {
  position: relative;
  background: url(../img/matrix.jpg);
  padding-top: rem-calc(220);
  border-left: 10px solid #9f2de1;
  border-right: 10px solid #9f2de1;
  padding-bottom: rem-calc(220);

  .panel__video {
    position: relative;
    width: rem-calc(450);
    height: 0;
    padding-bottom: 25%;
    margin-top: rem-calc(40);
    margin-left: rem-calc(90);
    margin-right: rem-calc(60);
    margin-bottom: rem-calc(60);
    float: left;
    z-index: 8;
    background: url(../img/aftermovie.jpg);
    background-size: cover;
    background-position: center center;
    cursor: pointer;

    &:hover {
      &:after {
        background: #efc5bc;
        color: #9f2de1;
      }
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      top: 20px;
      left: 20px;
      right: -20px;
      bottom: -20px;
      background: transparent;
      border-right: 20px solid #0dbdaf;
      border-bottom: 20px solid #0dbdaf;
    }

    &:after {
      font-family: 'FontAwesome';
      display: block;
      content: '\f04b';
      position: absolute;
      left: 50%;
      top: 50%;
      color: #fff;
      transform: translate(-50%, -50%);
      width: rem-calc(60);
      height: rem-calc(60);
      line-height: rem-calc(60);
      text-align: center;
      background: #9f2de1;
    }
  }

  .indent {
    background-color: #d3dbcd;
    padding: rem-calc(60);
    min-height: 100%;
    margin-left: rem-calc(120);
    position: relative;
    padding-bottom: rem-calc(100);
    z-index: 1;

    &:after{
      display: block;
      content: '';
      position: absolute;
      height: rem-calc(100);
      bottom: rem-calc(-100);
      left: 0;
      right: 0;
      background: url(../img/bg-slant.png);
      background-position: 50% 0%;
      background-size: 100%;
    }
  }

  .panel__content {
    overflow: hidden;
  }

}

.panel-info {
  min-height: initial;
  border-left: 10px solid #333;
  border-right: 10px solid #333;
  background: url(../img/flowers.jpg);

  .panel__content {
    height: rem-calc(600);
    transform: translateY(#{rem-calc(-120)});
    padding: rem-calc(30);
    margin: rem-calc(0 120);
    background: linear-gradient(to bottom, #fff100 0%, mix(#fff100, #000, 60%) 100%)
  }
}




// filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
// filter: gray;
// filter: grayscale(100%);
