/*
Color pallette */
$color0: #ff464e;
$color1: #540d6e;
$color2: #eee82c;
$color3: #ee4266;
$color4: #f3fcf0;
$color5: #1f271b;

/*
Settings */
$borderWidth: (
  small: 10px,
  medium: 15px,
  large: 20px
);
$panelSpacing: 100px;

/*
Foundation */
@import
"settings",
"foundation";


@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-video;

/*
Custom */
@import
"mixins",
"modules/aftermovie",
"modules/buttons",
"modules/navigation",
"modules/panels",
"modules/typography";

/*
Vendor */
@import
"vendor/fancybox";

html {
  font-size: 14px;

  @include breakpoint(medium up) {
    font-size: 15px;
  }

  @include breakpoint(large up) {
    font-size: 16px;
  }
}

body {
  background-color: #000;
}

.credentials {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  color: #fff;
  font-size: 15px;

  a {
    color: #fff;
  }
}

/*
Calculates the total scrolling distance */
.scroller {
  position: absolute;
  left: 1px;
  width: 1px;
}
