.panel.panel-contact
  div.row
    div.columns
      h2 Contact
      p.
        Als je zin hebt mag je ons altijd iets vertellen. Of blij maken met lieve woorden. Of gewoon een vraag stellen natuurlijk. Wij proberen z.s.m. te antwoorden. Je kunt ons bereiken via e-mail: #[<a href="mailto:info@ouab.nl">info@ouab.nl</a>] of via onze #[<a href="https://www.facebook.com/ouabfestival">Facebook-page</a>]
