.panel.panel-intro#introduction
  div.row
    div.columns
      h1 Once Upon A Beach
      p.
        Klein, gezellig en alles in het teken van ons strand. Daarnaast wordt het natuurlijk aangevuld met aardig wat kwaliteitsmuziek. Vier podia met vier verschillende muziekstijlen, kortom voor ieder wat wils.
      p.
        Daarnaast proberen we met randprogrammeringen ons terrein nog meer schwung te geven, maar uiteraard zijn jullie degenen die het festival maken tot wat het is.
      p.
        Een dag vol plezier is natuurlijk niet compleet zonder goed eten, dus we zorgen voor goede foodconcepten in de stijl van foodtrucks. Dus dat.
        We zien jullie graag op zaterdag 16 juli!

      a.aftermovie(href="//www.youtube.com/watch?v=b8_CRnie_1M")
        span.aftermovie__bg
        span.aftermovie__button.aftermovie__button--play
