nav.nav-mobile
  span

nav.nav-desktop
  ul
    li
      a(href="#home") Home
      a(href="#introduction") Once Upon A Beach
      a(href="#qa") Q&A
      a(href="#contact") Contact
      a#tickets(href="https://www.tixxx.nl/nl/ticketshop/tickets/132") Tickets
