.panel.panel-qa
  div.row
    div.columns
      h2 Q&A
  div.row
    div.small-12.medium-6.columns
      h3 Algemene info

      h4 Waar vindt OUAB plaats?
      p Maasplassen in Thorn. Hier op Google Maps. Adres voor navigatie is waterstraat 12, Thorn

      h3 Bereikbaarheid

      h4 Auto vanuit het noorden
      p Even een korte routebeschrijving maken
      h4 Auto vanuit het zuiden
      p Even een korte routebeschrijving maken
      h4 Openbaar vervoer
      p Routeplanner invoegen

    div.small-12.medium-6.columns
      h3 Tickets

      h4 Wat kost een ticket?
      p Tickets in de voorverkoop kosten zoveel en dan later zoveel

      h3 Faciliteiten
      h4 Lockers
      p Er zijn standaard lockers op het terrein aanwezig
      h4 Fouilleren en zero-tolerance
      P Fouilleren en anders niet binnen hoor
      h4 Eten en drinken
      p Foodtrucks, diverse dranken etc.
