.panel.panel-qa#qa
  div.row
    div.columns
      h2 Rules of the game
  div.row
    div.small-12.medium-6.columns
      h3 Tickets
      p.
        Dit jaar gaan we weer tickets verkopen alsof het warme broodjes zijn. Hoe kom ik eraan? Hier kopen dan: #[<a href="https://www.tixxx.nl/nl/ticketshop/tickets/132/facebook">Tixx.nl</a>]
      ul
        li Earlybirds | €17,50 | LIMITED
        li Normal tickets | €22,50 |
        li Deurtickets | €30,00 |

      h3 Maatschappelijk betrokken
      p.
        Wat misschien niet veel mensen van ons weten is dat al onze behaalde winst in het verenigingsleven gaat. Once Upon A Beach heeft dus absoluut geen winstoogmerk, en hoopt het harmonieuze gevoel ook over te dragen op jullie. Houdt er dus even een beetje rekening mee als je jouw drankje bestelt. Die mensen staan er namelijk ook alleen maar ten goede van de harmonie!

      h3 Bereikbaarheid
      p.
        Thorn? Wat is dat? Waar ligt dat? Simple as that:

      h4 Auto
      p.
        Vanuit de richting Maastricht: neem je op de A2 afslag 42. Einde afslag rechts en vervolgens in Wessem net nadat je onder de brug door bent, de eerste afslag weer rechts. Deze weg volg je richting Thorn. Volg vervolgens de borden.
      p.
        Vanuit de richting Eindhoven: neem je op de A2 afslag 41. Einde afrit rechts de Napoleonsbaan op. Rechtdoor rijden tot aan de stoplichten en dan linksaf slaan richting Thorn. Volg vervolgens de borden.
      p.
        Zit je op de Napoleonsbaan vanuit Roermond of Maaseik (B)? Neem dan bij de stoplichten in Ittervoort de afslag naar Thorn. Volg vervolgens de borden.

      h4 Parkeergelegenheid
      p.
        Parkeren kan en kost € 5,- voor de hele dag

      h4 OV
      p.
        Check even de diverse mogelijkheden vanuit station Roermond of Weert op #[<a href="http://www.9292ov.nl">www.9292ov.nl</a>]
        Welke bus je ook neemt: Uitstappen bij bushalte Meers in Thorn. Vanuit daar staat een looproute aangegeven. Let even op! Ons festival duurt tot 01:30u. Lekker natuurlijk, maar er rijden geen bussen meer om dat tijdstip. Kom je met het OV en ga jij tot het gaatje? Boek dan een hotel of B&amp;B in de omgeving. Thorn kent er meerdere. Kijk hiervoor bijvoorbeeld op #[<a href="http://www.booking.com">www.booking.com</a>]

      h4 Fietsenstalling
      p.
        Kom je te fiets, dan hebben we gewoon een gratis fietsenstalling voor je.

      h4 Foto &amp; Video
      p.
        Vanzelfsprekend is het toegestaan om een digitale camera mee te nemen. We vinden het te gek als je foto's maakt. Deel ze dan meteen even op je Social Media met #ouab.

      p.
        Tijdens Once Upon A Beach worden er professionele beeld- en of geluidsopnamen van het evenement en de bezoekers van het evenemententerrein gemaakt. Door het terrein te betreden geeft de bezoeker automatisch toestemming voor registratie en gebruik van de media door Once Upon A Beach en haar media partners en accepteer je de voorwaarden.

    div.small-12.medium-6.columns
      h3 Algemene info
      ul
        li Datum | zaterdag 16 juli 2016
        li Locatie | Maasplassen Thorn
        li Tijd | 15:00u – 1:30u
        li Leeftijd | 18 jaar en ouder

      h3 Line-up
      ul
        li Once Upon A Stage <br>[ HOUSE / TECH HOUSE / PROGRESSIVE ]
        li YumYum-Music <br>[ HOUSE / TECH HOUSE / DEEP HOUSE ]
        li Diep <br>[ DEEP HOUSE / TECH HOUSE / TECHNO ]
        li Red Cup Fissa <br>[ URBAN / R&amp;B / ECLECTIC ]

      h3 Spijs &amp; Drank
      p.
        OUAB loves food! Daarom hebben we een goeie food-line-up samengesteld. Uiteraard hebben we een BBQ! Verder hebben we verse friet, Vietnamese snacks, smoothies en ijs. Op gebied van drinks uiteraard koud bier + een hele waslijst aan andere drank. Uiteraard hoort er bij een strandfeest ook een cocktailbar! Betalen doe je met munten van €2,50 per stuk

      h3 Lockers
      p.
        Er zijn kluisjes aanwezig die je kunt huren voor vijf euries, handje contantje.

      h3 Betalen
      p.
        Betalen doe je bij ons met munten. Deze haal je op het festivalterrein voor een schamele €2,50 per stuk. Je kunt gewoon pinnen, maar onthoud: CASH = KING ♛

      h3 Legitimatie
      p.
        Once Upon A Beach is een 18+ evenement, en er bestaat kans dat je al op het voorterrein wordt gecontroleerd. Ben je 25 jaar of jonger, hou dan je ID gereed. Bij twijfel en geen ID moeten we je helaas teleurstellen. Alvast bedankt voor de medewerking!

      h3 Sigaretten
      p.
        We verkopen sigaretten op het terrein. Roken in de tenten kunnen we helaas niet toestaan. Ohja, en zou je er even op willen letten dat je jouw peukie even fijn dooft als-ie op is?

      h3 EHBO
      p.
        Midden op ons terrein bevindt zich een EHBO post. Heb je iets verkeerds genomen of mocht er iets anders zijn? Meld je dan vooral even bij deze mensen.

      h3 Jouw Hulp
      p.
        Wij en alle vrijwilligers zijn jullie eeuwig dankbaar om lege bekers, bordjes en andere rotzooi in de aanwezige afvalbakken te deponeren. Bovendien sowieso geen slechte instelling, lijkt ons zo.

      p.
        Daarnaast kun je jezelf altijd opgeven als vrijwilliger. Doe dat via #[<a href="mailto:info@ouab.nl">info@ouab.nl</a>]
