.panel.panel-tout(style="display:none");
  div
    div.date Zaterdag 16 juli
    div.location Maasplassen Thorn
    div
      img.logo(src="/img/logo-bb.svg")
    a.button.button--primary(href="#linktotickes") Koop tickets
