.panel.panel-tout#home
  div.is-absolute-center
    div.date Zaterdag 16 juli
    div.location Maasplassen Thorn
    div
      img.logo(src="img/logo-bb.svg")
    a.button.button--primary(href="https://www.tixxx.nl/nl/ticketshop/tickets/132/website") Koop tickets: &euro;17,50
