doctype html
html.no-touch
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    
    title= title
    link(rel="stylesheet" href="css/main.css")
    
    
  body
    .scroller
    include partials/nav.jade
    div.wrapper
      include partials/tout.jade
      include partials/bumper.jade
      include partials/intro.jade
      include partials/qa.jade
      include partials/outro.jade
      include partials/contact.jade
      
    span.credentials. 
      Site by Maarten Dings 
      <br> 
      <a href="https://github.com/mdings/beachbash-2016">Source on Github</a>
      
  script(src="http://code.jquery.com/jquery-latest.js")        
  script(src="js/main.js")
